#map {
    height: 500px;
}
#mapaLatLng{
    height: 300px;
}
.pac-container{
  background-color: #fff;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}
.modal{
  z-index: 20;
}
.modal-backdrop{
  z-index: 10;
}
